[Unit]
Description=Kalender Server

[Service]
Type=simple
ExecStart=/var/e-ink/server
Restart=on-failure
WorkingDirectory=/var/e-ink

[Install]
WantedBy=multi-user.target